@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

html, body {
  margin: 0;
  padding: 0; }

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; }

.header {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (max-width: 1000px) {
    .header {
      padding-left: 20px;
      padding-right: 20px; } }
  .header__summary {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; }
  .header__price {
    color: #9094FF;
    margin-left: 10px; }
  .header__logo {
    height: 38px; }
  .header__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-left: 20px; }

.background-image {
  position: absolute;
  opacity: 0.02;
  left: -10vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none; }

.promotional-message {
  margin-bottom: 100px;
  margin-top: 25px;
  text-align: center; }
  .promotional-message h3 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0; }
  .promotional-message h2 {
    font-size: 100px;
    margin: 0;
    color: #9094FF; }
    @media (max-width: 600px) {
      .promotional-message h2 {
        font-size: 50px; } }

.product-list {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1000px) {
    .product-list {
      padding-left: 20px;
      padding-right: 20px; } }

.product {
  display: grid;
  width: 100%;
  display: grid;
  grid-template-areas: "title        title         image" "description  description  image" "button       button       image" ".            .            image";
  grid-template-columns: 1fr 1fr 3fr;
  margin-bottom: 100px;
  grid-column-gap: 100px; }
  .product:nth-of-type(odd) {
    grid-template-areas: "image title        title" "image description  description" "image button       button" "image .            .";
    grid-template-columns: 3fr 1fr 1fr; }
    @media (max-width: 600px) {
      .product:nth-of-type(odd) {
        grid-template-areas: "image        image      " "title         title     " "description  description" "button       button     ";
        grid-template-columns: 1fr 1fr; }
        .product:nth-of-type(odd) img {
          height: 300px;
          width: 100%;
          margin-bottom: 30px; } }
  .product__title {
    margin: 0;
    grid-area: title;
    font-size: 32px;
    font-weight: bold; }
  .product__description {
    grid-area: description;
    line-height: 1.75rem;
    min-height: 175px; }
    @media (max-width: 600px) {
      .product__description {
        min-height: 0px; } }
  .product__price {
    grid-area: price;
    font-size: 28px;
    font-weight: bold; }
  .product__image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0px 18.025px 43.775px rgba(0, 0, 0, 0.25); }
  .product__price-button-container {
    display: flex;
    grid-area: button; }
  .product__button {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #9094FF;
    color: white;
    position: relative; }
    .product__button:hover {
      transition: 0.2s all; }
      .product__button:hover:before {
        transform: scale(1.15, 1.4); }
    .product__button:before {
      content: ' ';
      position: absolute;
      background-color: #9094FF;
      top: 0;
      left: 0;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -1;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54); }
  @media (max-width: 600px) {
    .product {
      grid-template-areas: "image        image      " "title         title     " "description  description" "button       button     ";
      grid-template-columns: 1fr 1fr; }
      .product img {
        height: 300px;
        width: 100%;
        margin-bottom: 30px; } }

.contact {
  text-align: center;
  background-color: #EBEBEB;
  padding-top: 100px;
  padding-bottom: 100px; }
  .contact__title {
    font-size: 36px; }
    .contact__title .colored {
      font-size: inherit;
      color: #9094FF; }
  .contact__paragraph {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600; }
    @media (max-width: 1000px) {
      .contact__paragraph {
        padding-left: 20px;
        padding-right: 20px; } }
  .contact button {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #343434;
    color: white;
    position: relative;
    z-index: 99; }
    .contact button:hover {
      transition: 0.2s all; }
      .contact button:hover:before {
        transform: scale(1.15, 1.4); }
    .contact button:before {
      content: ' ';
      position: absolute;
      background-color: #343434;
      top: 0;
      left: 0;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -1;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54); }

.footer {
  color: white;
  background: linear-gradient(90deg, #707070 0%, #474747 100%); }
  .footer__left {
    margin-left: auto; }
  .footer a {
    color: white; }
  .footer p {
    display: flex;
    margin: 0;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (max-width: 1000px) {
      .footer p {
        padding-left: 20px;
        padding-right: 20px; } }


/*# sourceMappingURL=styles.chunk.css.map*/